.about {
    padding-bottom: 5px;
}

.about h2 {
    color: #212EA0;
}

.about-container{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-image {
    flex-basis: 40%;
    position: relative;
}

.about-content{
    flex-basis: 56%;
}
