.footer {
    height: 300px;
}

.container-footer {
    padding-top: 3rem;
}

.container-footer .grid{
    margin-bottom: 2rem;
}

.footer-copy{
    padding-top: 2rem;
    border-color: rgb(55 65 81 / var(--tw-border-opacity, 1));
    border-top-width: 1px;
}


@media (max-width: 840px){
    .footer {
        height: 550px;
    }
}