@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tw-elements/css/tw-elements.min.css';
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #212EA0;
}

body{
  background-color: #F5F5F5;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.site-container{
  padding-left: 10%;
  padding-right: 10%;
}

button {
  position: relative;
  display: inline-block;
  padding: 14px 25px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: var(--color-primary);
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--color-primary);
}

button:hover {
  color: white;
  border: 2px solid white;
  background: transparent;
}

button:active {
  transform: scale(0.9);
}

button.btn-white,
button.btn-navbar {
  background-color: #fff;
  color: var(--color-primary);
}

button.btn-white:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--color-primary);
  border: 2px solid var(--color-primary);
}

button.btn-navbar:hover{
  background: transparent;
  color: white;
  border: 2px solid white;
}


/* ------ media query ---------*/
@media (max-width: 1200px){
  .site-container{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .btn{
    padding: 14px 22px;
  }
}
